html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
  font-size: 100%;
  overflow: auto;
  min-height: 100vh;
}

body {
  font: 1em/1.5 "Open Sans";
  color: #333;
  background: #fafafa;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: "Source Sans Pro";
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

.post {
  font: 0.9rem/1.8 "Merriweather";
}

.post h1,
.post h2,
.post h3 {
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.post h1 { font-size: 1.8rem; }
.post h2 { font-size: 1.6rem; }
.post h3 { font-size: 1.4rem; }